@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-icon svg,
.icon-config svg {
    width: 100%;
    height: 100%;
}

.menu-icon:hover {
    transform: scale(1.1);
}

.bg-game {
    background-image: url(/assets/bg_about.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
}

.floating-animation {
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0%{
        transform: translate(0, 0px);
    }
    50%{
        transform: translate(0, 15px);
    }
    100%{
        transform: translate(0, -0px);
    }
}