@tailwind base;
@tailwind utilities;
@tailwind components;


@layer components {

    .menu-icon,
    .icon-config {
        @apply w-full h-full;
    }

    .nav-container {
        @apply px-2 py-1 h-[70px] bg-base-100/60 dark:bg-slate-950/60 backdrop-blur-sm top-0 left-0 w-full md:h-screen md:py-6 md:w-[100px] md:hover:w-[250px] font-bold z-50 shadow-md shadow-black/50 transition-all ease-in-out;
    }

    .timeline-item-list {
        @apply border border-slate-500 hover:text-rose-500 hover:border-rose-500 py-1 px-3 rounded-lg dark:hover:border-cyan-400 dark:hover:text-cyan-400 font-medium hover:scale-110 transition-all ease-in-out cursor-pointer;
    }
}


.bg-game {
    background-image: url(/assets/bg_about.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
}

.floating-animation {
    animation: floating 3s ease-in-out infinite;
}

.bg-gradient {
    background: linear-gradient(to top,
            rgba(0, 0, 0, .9) 70%,
            rgba(0, 0, 0, 0) 95%);
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}